.grid.grid--auto
  - colors = %w(mustard gray lightest-gray light-gray dark-gray off-black denim lightest-denim light-denim dark-denim)
  - colors.each do |color|
    .grid__cell
      .color-box
        .color-box__swatch{ class: "color-box__swatch--#{color}" }
        .color-box__swatch-name $#{color}
