<div class="grid__cell grid__cell--50-at-medium">
    <div class="grid grid--right grid--auto">
        <div class="grid__cell">
            <div class="property">
                <label class="property__name"><span class="property__text">Sort By</span></label>
                <div class="value">
                    <div class="select-menu">
                        <select data-product-reviews-sort-menu="">
                            <option value="newest" selected>Most Recent</option>
                            <option value="oldest">Oldest First</option>
                            <option value="highest">Rating: High to Low</option>
                            <option value="lowest">Rating: Low to High</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
